* {
    padding: 0;
    margin: 0;
    font-family: Nurito sans, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #fdcc04;
    --secondary-color: #1f1f1f;

}

nav {
    height: 10vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px calc((100vw - 1300px)/2);

}

.logo h1 {
    display: inline;
    font-size: 40px;
    color: gray;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--secondary-color);
    padding: 0rem 2rem;

}

.column-right {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0rem, 2rem;
}

.column-right img {
    width: 100%;
    background-color: var(--primary-color);
}

.column-left button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    color: var(--primary-color);
    background: black;
    cursor: pointer;

}

.column-left button:hover {
    background-color: #cbed0c;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: ease-in-out 0.2s;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;

}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero {
    background-color: var(--primary-color);

}

.hero-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    padding: 0px calc((100vw - 1300px)/2);
}

.nav-items a:hover {
    color: wheat;
    transition: ease-in-out 0.2s;

}

.nav-items a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0 1.5rem;
}

.logo {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.logo>img {
    width: 50px;
    display: inline;
    background-color: var(--primary-color);
}

@media screen and (max-width:760px) {
    .logo h1 {
        font-size: 30px;
    }

    .hero-container {
        grid-template-columns: 1fr;
    }

    .nav-items a {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .column-left h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .column-left p {
        font-size: 1.2rem;
        line-height: 1.2;

    }

}